@tailwind base;
@tailwind components;
@tailwind utilities;

video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* .navbar-nav {
    display: flex;
    align-items: center;
  } */

.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-nav li {
    margin: 0 10px;
}

.ff_about_page {
    position: relative;
}

.ff_about_page img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
